.app__degenerate {
  margin: 0;
}
.hero__degenerate {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav__degenerate {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.3rem;
}
.back__degenerate {
  background: #000;
  color: #fff;
  padding: .5rem 1rem;
}
.title__degenerate {
  background: #000;
  color: #f00;
  padding: .5rem 1rem;
  margin: 0 .1rem;
  &--green {
    color: #04cf00;
  }
  &--yellow {
    color: #e7eb2d;
  }
  &--orange {
    color: #ff8d06;
  }
  &--red95 {
    color: #f00;
    opacity: .5;
  }
}
.views__degenerate {
  background: #000;
  color: #fff;
  padding: .5rem 1rem;
}

.container__degenerate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  width: 100%;
  padding: 0 2rem;
}

.img-wrap__degenerate {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-frame__degenerate {
  width: 100%;
  height: 100vh;
}
.img__degenerate {
  width: 100%;
  height: 100%;
}
.submitted-user {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  margin: 0 1rem;
  padding: .5rem 1rem;
  background: #000;

}
.empty-div {
  display: flex;
}
@keyframes blink {
  from{color:white;}
  to{color:black;}
}
@keyframes matrix {
  0% { color: red; }
  5% { color: #57c61b; }
  10% { color: red; }
  15% { color: #57c61b; }
  20% { color: red; }
  25% { color: #57c61b; }
  30% { color: red; }
  35% { color: #57c61b; }
  40% { color: red; }
  45% { color: #57c61b; }
  50% { color: red; }
  75% { color: #57c61b; }
  100% { color: red; }
  }

.loading{
  animation: matrix 20s infinite;
  padding: .5rem 1rem;
  font-size: 1rem;
  position: absolute;
  z-index: -1;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #fff;
  background: #000;
}
