.app__degenerate {
  margin: 0;
}
.hero__degenerate {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav__degenerate {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: .5rem 0;
  font-size: 1.3rem;
}
.back__degenerate {
  background: white;
  color: black;
  border: .3rem black solid;
  padding: .5rem 1rem;
  &:active {
    background: black;
    color: white;
  }
}
.title__degenerate {
  background: white;

  border: .3rem black solid;
  border-right: none;
  color: #f00;
  padding: .5rem 1rem;
  margin: 0 .1rem;
  &--green {
    color: #04cf00;

  }
  &--yellow {
    color: #e7eb2d;
  }
  &--orange {
    color: #ff8d06;
  }
  &--red95 {
    color: #f00;
    opacity: .5;
  }
}
.views__degenerate {
  background: white;
  color: black;
  border: .3rem black solid;
  padding: .5rem 1rem;
}

.container__degenerate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  width: 100%;
  padding: 0 2rem;
}

.img-wrap__degenerate {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-frame__degenerate {
  width: 100%;
  height: 100%;
  min-width: 30rem;

}
.img__degenerate {
  width: 100%;
display: block;

}

.lazy-image-container{
border: none;
display: none;
}
.submitted-user {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: back;
  margin: 0 -.1rem;
  padding: .5rem 1rem;
  background: white;
  border: .3rem black solid;

}
.empty-div {
  display: flex;
}
@keyframes fade {
  from{opacity:1;}
  to{opacity:0;}
}



.comments{
max-width: 66rem;
width: 100%;
margin: auto;
margin-bottom: 1rem;

&-title{

  color:white;
  padding-bottom: .5rem;
  font-weight: lighter;
  padding-left: .5rem;
}

&-submit{
  font-size: 1rem;
  width:25%;
  background:black;
  color:white;
  border-color: red;
  border-width: .1rem;
  &:active{
    background: white;
    color:black;
  }
}
&-input{
  width: 100%;
  font-size: 1rem;
    width:75%;
    height: 100%;
    background: black;
    color:red;
    outline:none;
    border: red .1rem solid;
    padding:.5rem;



}
&-input__container{
  display: flex;
}
&__comment{
background: black;
color:black;
padding-left: .5rem;
  span{
    color:red;
    background: black;
  }


}

&__ifnotlogged{
   background: white;
    color: black;
    border: .1rem black solid;
    padding: 0 .1rem;
  display: inline;
  font-weight: lighter;
  }

}

.comments__comment-container{


:last-child{
  padding-bottom: 1rem;
}

}


.loading{
  animation: fade 10s forwards ;
  padding: .5rem 1rem;
  font-size: 1rem;
  z-index: -1;
  position: absolute;
  transform: translate(-50%,0);
  top:270%;
  left:50%;
  color: #fff;
  background: #000;
}
