.app__destroyed {
  margin: 0;
}
.hero__destroyed {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container__destroyed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}
@keyframes banish {
  0% {
    transform: scale(30);
  }
  100% {
    top: 0%;
    transform: scale(.0001);
  }
}

.img-container__destroyed {
  animation: banish 3s forwards;
  max-width: 70rem;
  width: 100%;
  padding: 0 2rem;
}

.img-wrap__destroyed {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-frame__destroyed {
  width: 100%;
  height: 100vh;
}

.img__destroyed-destroyed {
  width: 100%;
  height: 100%;
}
.empty-div {
  display: flex;
}
@keyframes blink {
  from{color:white;}
  to{color:black;}
}
@keyframes matrix {
  0% { color: red; }
  5% { color: #57c61b; }
  10% { color: red; }
  15% { color: #57c61b; }
  20% { color: red; }
  25% { color: #57c61b; }
  30% { color: red; }
  35% { color: #57c61b; }
  40% { color: red; }
  45% { color: #57c61b; }
  50% { color: red; }
  75% { color: #57c61b; }
  100% { color: red; }
  }

.loading-destroyed {
  animation: matrix 20s infinite;
  padding: .5rem 1rem;
  margin: 1rem auto;
  width: 60%;
  min-width: 25rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: #fff;
  background: #000;
}
