body {
  margin: 0;
}
.header__index {
  background: #000;
  padding: 2rem 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title__index {
  margin: 0;
  color: #fff;
}
.de {
  color: #f00
}
.tagline__index {
  margin: .5rem 0;
  color: #fff;
}
.header-right {
}
.post {
  color: #fff;
  margin: 0;

  &:hover {
    color: #f00;
  }
}
