.hero__login {
  display: flex;
  height: 90vh;
}
.container__login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login__box {
  background: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border: .2rem solid #000;
  margin: 1rem;
}
.login__title {
  margin: 1rem 0;
}

.btn-box__login {
  display: flex;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
}
.login-btn {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  border: .2rem solid #000;
  padding: .5rem;
  text-align: center;
}
