@import "intro-page";
@import "login";
@import "main";
@import "register";
@import "upload";
@import "index";


*{
  box-sizing: border-box;
  font-family: sans-serif;
}
h1,h2,h3,h4,h5,body{
  margin: 0;
}
