@import "login";
@import "main";
@import "register";
@import "upload";
@import "index";
@import "degenerate";


*{
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: lowercase;
}
p,h1,h2,h3,h4,h5,body{
  margin: 0;
}

a{
  color: white;
  text-decoration: none;
}
