<div class="app-register">
  <div class="hero__register">
    <div class="hidden-alert">
      <div class="alert-box">
        <div class="alert-message">
        <p>registation failed!</p>
        </div>
        {{#link-to 'degenerator' class="alert-transfer"}}
          username or email already exists
          {{/link-to}}
      </div>
    </div>
    <div class="container__register">
      <div class="register__box">
        <h2 class="register__title">ready to start degenerating?</h2>
        {{#simple-form onsubmit=(action "registerUser") as |formValues|}}
          {{input class="text-input" type="text" placeholder="username" value=formValues.username}}
          {{input class="text-input" type="email" placeholder="email" value=formValues.email}}
          {{input class="text-input" type="password" placeholder="password" value=formValues.password}}
          <div class="btn-box__register">
          <button type="submit" class="register-btn btn-click">
            register
          </button>
        </div>
        {{/simple-form}}
      </div>
    </div>
  </div>
</div>

{{liquid-outlet}}
