<div class="app__register">
  <div class="hero__register">
    <div class="content__register">
      <h2 class="title__register">ready to start degenerating?</h2>
      {{#simple-form onsubmit=(action "registerUser") as |formValues|}}
        {{input class="input__login input__register text-input" type="text" placeholder="email" value=email}}
        {{input class="input__login input__register text-input" type="password" placeholder="password" value=password}}
        <button type="submit" class="btn-container__register btn-click">
          register
        </button>
      {{/simple-form}}
    </div>
  </div>
</div>

{{outlet}}
