<div class="main-container">
  <div class="main-container__inner">
    <div class="post-card">
      <div class="img-frame">
        <img class="img-frame__img" src="http://placehold.it/200" alt="">
      </div>
      <h2 class="post-card__title">title</h2>
      <div class="degeneration-type">
        <p class="degeneration-type__item">Dither</p>
        <p class="degeneration-type__item">Emboss</p>
        <p class="degeneration-type__item">Sharpen</p>
      </div>
      <div class="view-counts">
        <p><span class="views-left">5 </span> views left out of 20</p>
      </div>
      {{#link-to 'degenerator.degenerate'}}

      <div class="view-btn">click to view</div>
      {{/link-to}}
    </div>
  </div>
</div>
