<div class="app__degenerate">
  <div class="nav__degenerate">
    <div class="container__degenerate">
       back
      <h1 class="title__degenerate">cage the crude</h1>
      <p class="views__degenerate">753 views</p>
    </div>
  </div>
  <div class="container__degenerate">
    <img class="img__degenerate" src="https://www.placecage.com/800/800" alt="" >
  </div>
</div>

{{outlet}}
