{{outlet}}
<style>
.title-group{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: auto;
}
.home-title{
  width: calc(100%/4);
  color:white;

}
</style>
<div class="title-group">
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
<h1 class="home-title">the degenerator</h1>
</div>
