<div class="app-intro">
  <div class="head">


  </div>
  <div class="hero__intro">
    <div class="center">
      <div class="container__intro">
        <div class="left__intro">
          <h2 class="title__intro">the [<span class="de">de</span>]generator</h2>
          <h3 class="tagline__intro">where images come to die</h3>
          <div class="btn-box__intro">
            <button class="login-btn">login</button>
            <button class="register-btn">register</button>
          </div>
        </div>
        <div class="right__intro">
          <img class="example" src="http://www.photo4everyone.com/Image_edition/uncompressed/blurred_noise.gif" alt=""></div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
