<div class="app__destroyed">
  <div class="loading-destroyed">
    {{scramble-letters words="the [de]generator degenerated your image" tagName="h1" class="loadingMessage"}}
  </div>

  <div class="hero__destroyed">
    <div class="img-wrap__destroyed">
      <div class="img-container__destroyed">
        <div class="img-frame__destroyed">
          <img src="http://www.underconsideration.com/brandnew/archives/google_broken_image_00_b_logo_detail.gif" class="img__destroyed-destroyed" data-lf="user-image:{{model.id}}">

          {{!-- {{#lazy-image url=model.exposeUrl class="img__destroyed" errorText='Something went wrong.' }}
          {{/lazy-image}} --}}
        </div>
      </div>
    </div>
  </div>
</div>


{{outlet}}
