<div class="app">
  <img src="http://wallpapercave.com/wp/KULK50d.jpg" alt="">
  <div class="head">
    <div class="btn-box__intro">
      <button class="login-btn">login</button>
      <button class="register-btn">register</button></div>
  </div>
  <div class="hero">
    <div class="center-container">
      <div class="left">
        <h2 class="title__intro">the [<span class="de">de</span>]generator</h2>
        <h3 class="tagline__intro">where images come to die</h3>
      </div>
      <div class="right">
        <img src="" alt=""></div>
    </div>
  </div>
</div>


{{outlet}}
