<div class="app-login">
  <div class="hero__login">
    <div class="alert-overlay"></div>
      <div class="hidden-alert">
        <div class="alert-box">
          <div class="alert-message">
          <p>login successful!</p>
          </div>
          {{#link-to 'degenerator.upload' class="alert-transfer"}}
            Ready to post
            {{/link-to}}
        </div>
      </div>
    <div class="container__login">
      <div class="login__box">
        <h2 class="login__title">login</h2>
        {{#simple-form onsubmit=(action "loginUser") as |formValues|}}
          {{input class="text-input" type="text" placeholder="email" value=formValues.email}} {{input class="text-input" type="password" placeholder="password" value=formValues.password}}
          <div class="btn-box__login" {{action "loggedIn"}}>

            <button type='submit' class="login-btn btn-click">
              login
            </button>
          </div>

        {{/simple-form}}
      </div>
    </div>
  </div>
</div>

{{outlet}}
