<div class="header__index">
  <div class="header__left">
    <h2 class="title__index">the [<span class="de">de</span>]generator</h2>
  </div>
  <div class="header__right">
    <h2 class="post">post</h2>
  </div>
</div>

{{outlet}}
