<div class="header__index">
  <div class="header__left">
    {{#link-to 'degenerator.main'}}
      <h2 class="title__index">the [<span class="de">de</span>]generator</h2>
    {{/link-to}}
    <div class="username-display">
      <h2>Hello, {{ session.currentUser.username }} !</h2>
    </div>
  </div>


  <div class="header__right">
    {{#link-to 'degenerator.upload'}}
      <h2 class="post">post</h2>
    {{/link-to}}

    {{#link-to 'degenerator.login'}}
      <h2 class="login-link">login</h2>
    {{/link-to}}

    {{#link-to 'degenerator.register'}}
      <h2 class="register-link">register</h2>
    {{/link-to}}
  </div>
</div>



{{outlet}}
